header {
  font-family: Verdana;
  font-size: 14px;
  font-weight:bold;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  position:fixed;
  z-index: 20;
  background-color: white;
}

.logo {
  display: flex;
  padding: 20px 10px;
}

div span {
 display: inline-block;
 color: mediumaquamarine;
}

.sections {
  display: inline-block;
  align-items: flex-end;
  padding-right: 40px;
}
.blink {
  color: black;
  padding: 5px;
}




.main {
  display: flex;
  justify-content: center;
  position:relative;
  height: 700px;
  border: 1px solid black;
  top: 100px;
}

.column {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
  margin: 10px;
}

#large {
  width: 630px;
}

#topstory {
    width: 100%;
}

#topstory h1 {
  font-size: 14px;
  border: 1px solid black;
}

#topstory article {
  font-size: 14px;
}

#botstory {
    width: 100%;
    border: 4px solid black;
}

#botstory h2 {
  font-size: 14px;
  border: 1px solid black;
}


#medium {
  width: 300px;
}

#small {
  width: 240px;
}
